@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#navIndex {
    background-color: #171810;
  
}

#footerHome{
    background-color: #171810;
}

#containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logado {
  flex: 1; /* Isso permite que a div "logado" ocupe o espaço central */
  text-align: center; /* Centraliza o conteúdo dentro da div */
}
